
<!-- <div class="over-flow-h"> -->
  <div class="appointment-cards">


    <form action="#">
      <div class="leave-body">
    
        <div class="leave-date d-flex">
          <div class="date-speration">
            <span>From</span>
    
    
            <input type="date" name="check-in" id="check-in" [max]="Today" [(ngModel)]="fromdate" placeholder="From">
    
    
          </div>
          <div class="date-speration">
            <span>To</span>
            <input type="date" name="check-in" id="check-out"[min]="fromdate" [max]="Today" [(ngModel)]="todate" placeholder="To">
          </div>
        </div>
        <div class="leave-submt">
          <input type="submit" (click)="GetReport()" value="Submit">
        </div>
        
      </div>
   
    </form>

    <div class="row mt-2" *ngIf="PriorityData.length > 0">
      <ng-container *ngFor="let item of PriorityData">
        <div   class="col-lg-12"  
   
      >
           <!-- [ngClass]="{
          'col-lg-12': item.Link === 'CATEGORYWISE_REVENUE' || item.Link === 'PROCEDUREWISE_REVENUE'|| item.Link === 'DOCTOR_REFERENCES'|| item.Link === 'GROUPWISE_REVENUE',
          'col-lg-12': item.Link !== 'CATEGORYWISE_REVENUE' || item.Link !== 'PROCEDUREWISE_REVENUE'|| item.Link !== 'DOCTOR_REFERENCES'|| item.Link !== 'GROUPWISE_REVENUE'
        }" -->
          <div class="card app-cards">
            <h5>{{ item.TabName }}</h5>
            
            <!-- Render based on Link type -->
            <ng-container [ngSwitch]="item.Link">
              
              <ng-container *ngSwitchCase="'APPOINTMENT_STATISTICS'" >
                <div class="app-det">
                  <span>TOKEN</span>
                  <span>{{ TokenTotal }}</span>
                </div>
                <div class="app-det">
                  <span>NEW BOOKING</span>
                  <span>{{ NewBooked }}</span>
                </div>
                <div class="app-det">
                  <span>REVISIT BOOKED</span>
                  <span>{{ RevisitBooked }}</span>
                </div>
                <div class="app-det">
                  <span>REVISIT VISITED</span>
                  <span>{{ RevisitVisited }}</span>
                </div>
                <div class="app-det">
                  <span>NEW VISIT</span>
                  <span>{{ NewVisited }}</span>
                </div>
              </ng-container>
    
              <ng-container *ngSwitchCase="'PACKAGEWISE_REVENUE'">
                <div class="app-det"  *ngFor="let items of CallPackageProcedureAsyncdata">
                  <span>{{ items.Section }}</span>
                  <span class="text-right">{{ items.PackageAmount == null ? '0.00' : (items.PackageAmount | number: '1.2-2') }}</span>
                </div>
              </ng-container>
    
              <ng-container *ngSwitchCase="'DEPARTMENT_REVENUE'">
                <div class="app-det" *ngFor="let items of CallDeptRevProcedureAsyncdata">
                  <span>{{ items.SPETY_NAME }}</span>
                  <span class="text-right">{{ items.TOTAL == null ? '0.00' : (items.TOTAL | number: '1.2-2') }}</span>
                </div>
              </ng-container>
    
              <ng-container *ngSwitchCase="'VISIT_STATISTICS'">
                <div class="app-det">
                  <span>NEW</span>
                  <span>{{ stsdataNew }}</span>
                </div>
                <div class="app-det">
                  <span>FREE</span>
                  <span>{{ stsdataFreeNo }}</span>
                </div>
                <div class="app-det">
                  <span>REVISIT</span>
                  <span>{{ stsdataRevisitNo }}</span>
                </div>
                <div class="app-det">
                  <span>PROCEDURE</span>
                  <span>{{ stsdataPrcNo }}</span>
                </div>
                <div class="app-det">
                  <span class="font-weight-bold">TOTAL</span>
                  <span class="font-weight-bold">{{ stsdataTotal }}</span>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'DOCTORWISE_REVENUE'">
                <div class="app-det" *ngFor="let items of DsDoctRevProcedureAsyncevProcedureAsyncdata;let i=index">
                  <span>{{items.DOCTOR}}</span>
                  <!-- <span>{{items.BILL_CNT==null?'':items.BILL_CNT}}</span> -->
                  <span class="text-right">{{items.TOTAL==null?'0.00':(items.TOTAL | number: '1.2-2')}}</span>
                  
                </div>
              </ng-container>

              <!-- <ng-container *ngif="CheckTheReportRight('INSURANCE_RECEIVABLES')"> -->
                <ng-container *ngSwitchCase="'INSURANCE_RECEIVABLES'">
                  <div class="app-det" *ngFor="let items of spInsRevProcedureAsyncdata;let i=index">
              
                    <SPAn>{{items.PRVD_NAME}}</SPAn>
                    <span class="text-right">{{items.INS_AMT==null?'0.00':(items.INS_AMT | number: '1.2-2')}}</span>
                    
                  </div>
                  
                </ng-container>
              <!-- </ng-container> -->


              <ng-container *ngSwitchCase="'IP_INCOME'">
                <div class="app-det">
                  <span class="font-weight-bold"> NAME</span>
                  <SPAn class="font-weight-bold text-center">COUNT</SPAn>
                  <SPAn class="font-weight-bold border-left border-dark text-right">AMOUNT</SPAn>
                </div>
                <div class="app-det" *ngFor="let items of CallPurchaseOrderProcedureAsyncdata;let i=index">
                  <span>{{items.GP | uppercase}}</span>
                  <span class="text-center  ">{{items.BILL_CNT==null?'0':items.BILL_CNT}}</span>
                  <span class="border-left border-dark text-right">{{items.AMOUNT==null?'0.00':(items.AMOUNT| number: '1.2-2') }}</span>    
                </div>
                <div class="app-det">
                  <span class="font-weight-bold">TOTAL</span>
                  <span class="font-weight-bold text-center" >{{calculateTotal(CallPurchaseOrderProcedureAsyncdata,'BILL_CNT')}}</span>
                  <span class="text-right font-weight-bold border-left border-dark">{{calculateTotal(CallPurchaseOrderProcedureAsyncdata,'AMOUNT') | number : '1.2-2'}}</span>
                </div> 
              </ng-container>



              <ng-container *ngSwitchCase="'PURCHASE_ORDER_DETAILS'">
                <div class="app-det">
                  <span class="font-weight-bold"> NAME</span>
                  <SPAn class="font-weight-bold text-center">COUNT</SPAn>
                  <SPAn class="font-weight-bold border-left border-dark text-right">AMOUNT</SPAn>
                </div>
                <div class="app-det" *ngFor="let items of CallPurchaseOrderProcedureAsyncdata;let i=index">
                  <span>{{items.GP | uppercase}}</span>
                  <span class="text-center  ">{{items.BILL_CNT==null?'0':items.BILL_CNT}}</span>
                  <span class="border-left border-dark text-right">{{items.AMOUNT==null?'0.00':(items.AMOUNT| number: '1.2-2') }}</span>    
                </div>
                <div class="app-det">
                  <span class="font-weight-bold">TOTAL</span>
                  <span class="font-weight-bold text-center" >{{calculateTotal(CallPurchaseOrderProcedureAsyncdata,'BILL_CNT')}}</span>
                  <span class="text-right font-weight-bold border-left border-dark">{{calculateTotal(CallPurchaseOrderProcedureAsyncdata,'AMOUNT') | number : '1.2-2'}}</span>
                </div> 
              </ng-container>



              <ng-container *ngSwitchCase="'SECTIONWISE_COLLECTIONS'">
                <div class="app-det">
                  <span class="font-weight-bold">SECTION NAME</span>
                  <SPAn class="font-weight-bold text-right">AMOUNT</SPAn>
                </div>
                <div class="app-det" *ngFor="let items of CallCollectionSctProcedureAsyncdata;let i=index">        
                  <SPAn>{{items.GP}}</SPAn>
                  <span class="text-right">{{items.Total==null?'0.00':(items.Total | number: '1.2-2')}}</span>
                  
                </div>
                <div class="app-det">
                  <span class="font-weight-bold">TOTAL</span>
                  <span class="text-right font-weight-bold">{{calculateTotal(CallCollectionSctProcedureAsyncdata,'Total') | number : '1.2-2'}}</span>
                </div>
                
              </ng-container>



              <ng-container *ngSwitchCase="'GROUPWISE_REVENUE'">
                <div class="table-responsive" id="print">
                  <table class="table-bordered table hover-table">
                    <thead>
                      <th>GROUP NAME</th>
                      <th class="text-right">GROSS</th>
                      <th class="text-right">DISCOUNT</th>
                      <th class="text-right">NET AMOUNT</th>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of DsProcGroupProcedureAsyncdata; let i = index">
                        <tr >
                          <td>{{item.ProcedureGroupName || ''}}</td>
                          <td class="text-right">{{item.GrossAmount == null ? '0.00' : (item.GrossAmount| number: '1.2-2')}}</td>
                          <td class="text-right">{{item.Discount == null ? '0.00' : (item.Discount| number: '1.2-2')}}</td>
                          <td class="text-right">{{item.NetAmount == null ? '0.00' : (item.NetAmount| number: '1.2-2')}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                      <tr>
                        <td class="font-weight-bold">GRAND TOTAL</td>
                        <td class="text-right font-weight-bold">  {{calculateTotal(DsProcGroupProcedureAsyncdata,'GrossAmount' )| number: '1.2-2'}}</td>
                        <td class="text-right font-weight-bold">{{calculateTotal(DsProcGroupProcedureAsyncdata,'Discount' )| number: '1.2-2'}}</td>
                        <td class="text-right font-weight-bold">{{calculateTotal(DsProcGroupProcedureAsyncdata,'NetAmount' )| number: '1.2-2'}}</td>
                      </tr>
                  </table>
                </div>
              </ng-container>



              <ng-container *ngSwitchCase="'DOCTOR_REFERENCES'">
                <div class="table-responsive" id="print">
                  <table class="table-bordered table hover-table">
                    <thead>
                      <th>NAME</th>
                      <th class="text-right">GROSS</th>
                      <th class="text-right">DISCOUNT</th>
                      <th class="text-right">NET AMOUNT</th>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of CallReferalReportProcedureAsyncdata; let i = index">
                        <tr >
                          <td>{{item.ReferredBy || ''}}</td>
                          <td class="text-right">{{item.GrossAmount == null ? '0.00' : (item.GrossAmount| number: '1.2-2')}}</td>
                          <td class="text-right">{{item.Discount == null ? '0.00' : (item.Discount| number: '1.2-2')}}</td>
                          <td class="text-right">{{item.NetAmount == null ? '0.00' : (item.NetAmount| number: '1.2-2')}}</td>           
                        </tr>
                      </ng-container>
                      <tr>
                        <td class="font-weight-bold">GRAND TOTAL</td>
                        <td class="text-right font-weight-bold">  {{calculateTotal(CallReferalReportProcedureAsyncdata,'GrossAmount' )| number: '1.2-2'}}</td>
                        <td class="text-right font-weight-bold">{{calculateTotal(CallReferalReportProcedureAsyncdata,'Discount' )| number: '1.2-2'}}</td>
                        <td class="text-right font-weight-bold">{{calculateTotal(CallReferalReportProcedureAsyncdata,'NetAmount' )| number: '1.2-2'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </ng-container>




              <ng-container *ngSwitchCase="'CATEGORYWISE_REVENUE'">
                <div class="table-responsive" id="print">
                  <table class="table-bordered table hover-table">
                    <thead>
                      <th>CATEGORY NAME</th>
                      <th class="text-right">GROSS</th>
                      <th class="text-right">DISCOUNT</th>
                      <th class="text-right">NET AMOUNT</th>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of DsProcCategoryProcedureAsyncDATA; let i = index">
                        <tr >
                          <td>{{item.PRCCAT_NAME || ''}}</td>
                          <td class="text-right">{{item.GROSS == null ? '0.00' : (item.GROSS| number: '1.2-2')}}</td>
                          <td class="text-right">{{item.DISCOUNT == null ? '0.00' : (item.DISCOUNT| number: '1.2-2')}}</td>
                          <td class="text-right">{{item.NETAMOUNT == null ? '0.00' : (item.NETAMOUNT| number: '1.2-2')}}</td>             
                        </tr>
                      </ng-container>
                      <tr>
                        <td class="font-weight-bold">GRAND TOTAL</td>
                        <td class="text-right font-weight-bold">  {{calculateTotal(DsProcCategoryProcedureAsyncDATA,'GROSS' )| number: '1.2-2'}}</td>
                        <td class="text-right font-weight-bold">{{calculateTotal(DsProcCategoryProcedureAsyncDATA,'DISCOUNT' )| number: '1.2-2'}}</td>
                        <td class="text-right font-weight-bold">{{calculateTotal(DsProcCategoryProcedureAsyncDATA,'NETAMOUNT' )| number: '1.2-2'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>



              <ng-container *ngSwitchCase="'PROCEDUREWISE_REVENUE'">
                <div class="table-responsive" id="print">
                  <table class="table-bordered table hover-table">
                    <thead>
                      <th>PROCEDURE NAME</th>
                      <th class="text-center">COUNT</th>
                      <th class="text-right">GROSS</th>
                      <th class="text-right">DISCOUNT</th>
                      <th class="text-right">NET AMOUNT</th>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of DsProcedureProcedureAsyncDATA; let i = index">
                        <tr >
                          <td>{{item.PrcName || ''}}</td>
                          <td class="text-center">{{item.ProcCount || '0'}}</td>
                          <td class="text-right">{{item.Gross == null ? '0.00' : (item.Gross| number: '1.2-2')}}</td>
                          <td class="text-right">{{item.Discount == null ? '0.00' : (item.Discount| number: '1.2-2')}}</td>
                          <td class="text-right">{{item.NetAmount == null ? '0.00' : (item.NetAmount| number: '1.2-2')}}</td>
             </tr>
                      </ng-container>
                      <tr>
                        <td class="font-weight-bold">GRAND TOTAL</td>
                        <td class=" text-center font-weight-bold">{{calculateTotal(DsProcedureProcedureAsyncDATA,'ProcCount' )}}</td>
                        <td class="text-right font-weight-bold">{{calculateTotal(DsProcedureProcedureAsyncDATA,'Gross' )| number: '1.2-2'}}</td>
                        <td class="text-right font-weight-bold">{{calculateTotal(DsProcedureProcedureAsyncDATA,'Discount' )| number: '1.2-2'}}</td>
                        <td class="text-right font-weight-bold">{{calculateTotal(DsProcedureProcedureAsyncDATA,'NetAmount' )| number: '1.2-2'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>


              <ng-container *ngSwitchCase="'PURCHASE_DETAILS'">
                <DIV class="app-det font-weight-bold">
                  <SPAn >NAME</SPAn>
                  <SPAn class="text-center">COUNT</SPAn>
                  <SPan class="text-right border-dark border-left">AMOUNT</SPan>
                </DIV>
                <div class="app-det" *ngFor="let items of DsPurchaseProcedureAsyncdata;let i=index">
                  <span>{{items.GP | uppercase}}</span>
                  <span class="text-center">{{items.BILL_CNT==null?'':items.BILL_CNT}}</span>
                  <span class="border-left border-dark text-right">{{items.AMOUNT==null?'0.00':(items.AMOUNT| number: '1.2-2')}}</span>
                  
                </div>
                <div class="app-det">
                  <span class="font-weight-bold">TOTAL</span>
                  <span class="font-weight-bold text-center" >{{calculateTotal(DsPurchaseProcedureAsyncdata,'BILL_CNT')}}</span>
                  <span class="text-right font-weight-bold border-left border-dark">{{calculateTotal(DsPurchaseProcedureAsyncdata,'AMOUNT') | number : '1.2-2'}}</span>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'COLLECTION'">
                <div class="app-det font-weight-bold">
                  <span >MODE</span>
                  <span class="text-right">AMOUNT</span>
                </div>
                <div class="app-det">
                  <span>CASH</span>
                  <span class="text-right">{{CallCollectionProcedureAsyncdata[0].Cash | number: '1.2-2'}}</span>
                </div>
                <div class="app-det">
                  <span>CREDIT</span>
                  <span class="text-right">{{CallCollectionProcedureAsyncdata[0].Credit| number: '1.2-2'}}</span>
                </div>
                <div class="app-det">
                  <span>CREDIT CARD</span>
                  <span  class="text-right">{{CallCollectionProcedureAsyncdata[0].CreditCard| number: '1.2-2'}}</span>
                </div>
                <div class="app-det">
                  <span>OT</span>
                  <span class="text-right">{{CallCollectionProcedureAsyncdata[0].OT| number: '1.2-2'}}</span>
                </div>
                <div class="app-det">
                  <span>INSURANCE</span>
                  <span class="text-right">{{CallCollectionProcedureAsyncdata[0].Insurance| number: '1.2-2'}}</span>
                </div>
                <div class="app-det">
                  <span>CHEQUE  </span>
                  <span class="text-right">{{CallCollectionProcedureAsyncdata[0].Cheque| number: '1.2-2'}}</span>
                </div>
                <div class="app-det">
                  <span>BWALLET</span>
                  <span class="text-right">{{CallCollectionProcedureAsyncdata[0].BWallet| number: '1.2-2'}}</span>
                </div>
                <div class="app-det">
                  <span class="font-weight-bold">TOTAL</span>
                  <span class="text-right font-weight-bold">{{CallCollectionProcedureAsyncdata[0].Total| number: '1.2-2'}}</span>
                </div>
              </ng-container>
    
              <!-- Add more cases for other types as necessary -->
    
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    

 
    
 
</div>
<!-- </div> -->
