<div class="profile-name patient-titile">
  <h2>Leave Request Form</h2>
</div>

<div class="doctor-det">
  <h4>Doctor Name</h4>
  <h5>Department</h5>
  <h5>Spacialisation</h5>
</div>
<form action="#">
  <div class="leave-body">
    <div class="leave-titile">
      <h6>Leave Date</h6>
    </div>
    <div class="leave-date d-flex">
      <div class="date-speration">
        <span>From</span>


        <input type="text" name="check-in" id="check-in" placeholder="From">


      </div>
      <div class="date-speration">
        <span>To</span>
        <input type="text" name="check-in" id="check-out" placeholder="To">
      </div>
    </div>
    <div class="leave-titile">
      <h6>Leave Type</h6>
    </div>
    <div class="form-group-form leave-drop">
      <select class="form-control form-select" id="exampleFormControlSelect1">
        <option></option>
        <option>Sick leave</option>
        <option>Sick leave</option>
        <option>Sick leave</option>
      </select>
    </div>
    <div class="leave-titile">
      <h6>Reason for the Leave</h6>
    </div>
    <textarea class="leave-desc" placeholder="Type here"></textarea>
  </div>
  <div class="leave-submt">
    <input type="submit" value="Submit">
  </div>
</form>
<div class="leave-confirm">
  <div class="leave-titile">
    <h6>Leave Date</h6>
  </div>
  <div class="leave-date d-flex">
    <div class="date-speration">
      <span>From</span>
      <p>0/00/00</p>
    </div>
    <div class="date-speration">
      <span>To</span>
      <p>0/00/00</p>
    </div>
  </div>
  <div class="leave-titile lv-reason">
    <h6>Reason for the Leave</h6>
    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      Cancel
    </a>
  </div>
  <div class="collapse show" id="collapseExample">
    <div class="card card-body leave-card">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nostrum voluptate doloribus sed dolore
        eos natus vitae veritatis unde mollitia</p>
    </div>
  </div>
  <a href="#" class="lv-sbt-btn">Submit</a>
</div>

<div class="leave-confirm">
  <div class="leave-titile">
    <h6>Leave Date</h6>
  </div>
  <div class="leave-date d-flex">
    <div class="date-speration">
      <span>From</span>
      <p>0/00/00</p>
    </div>
    <div class="date-speration">
      <span>To</span>
      <p>0/00/00</p>
    </div>
  </div>
  <div class="leave-titile lv-reason">
    <h6>Reason for the Leave</h6>
    <a data-toggle="collapse" href="#collapseExample02" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      Cancel
    </a>
  </div>
  <div class="collapse show" id="collapseExample02">
    <div class="card card-body leave-card">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nostrum voluptate doloribus sed dolore
        eos natus vitae veritatis unde mollitia</p>
    </div>
  </div>
  <a href="#" class="lv-sbt-btn">Submit</a>
</div>