<!-- <div class="over-flow-h"> -->
  <div class="main-container">
    <div class="logo" >
      <img style="height: 80px;" src="assets/images/logo.jpg">
    </div>

    <!-- Hamburger -->
    <nav class="menu--right" role="navigation">
      <div class="menuToggle">
        <input type="checkbox" />
        <span class="burger-one"></span>
        <span class="burger-two"></span>
        <span class="burger-thre"></span>
        <ul class="menuItem">
          <div class="menu-logo">
            <img src="assets/images/logo.jpg">
          </div>
          <div class="border-seperation"></div>
          <li (click)="NavigateTo('home/appointment-cards')"><i class="fa-regular fa-calendar-check" ></i><a >Reports</a></li>
          <!-- <li (click)="NavigateTo('home/leave-request-form')"><i class="fa-regular fa-calendar" ></i><a >Leave Request</a></li> -->
          <li  (click)="LogOut()"><i class="fa-solid fa-right-from-bracket"></i><a >Logout</a></li>
        </ul>
      </div>
    </nav>
    <!-- Hamburger -->

    <!-- Appointment card -->
<div style="overflow: auto;">
    <router-outlet></router-outlet>
  </div>

  </div>
  <footer>
    <div class="f-left">
      <h6>&#169; 2023 <a href="https://www.remedihms.com/" target="_blank">REMEDIHMS.com</a></h6>

    </div>
    <div class="f-right">
      <h6>Powered by<a href="https://tedsystech.com/" target="_blank">Tedsys Technologies</a></h6>
    </div>
  </footer>
<!-- </div> -->