<!-- <div class="over-flow-h"> -->
 <body>
  
  <div class="main-container mb-5">
    <div class="logo" >
      <img style="height: 80px;" src="assets/images/logo.jpg">
    </div>

    <!-- Hamburger -->
    <nav class="menu--right" role="navigation">
      <div class="menuToggle">
        <input type="checkbox" />
        <span class="burger-one"></span>
        <span class="burger-two"></span>
        <span class="burger-thre"></span>
        <ul class="menuItem">
          <div class="menu-logo">
            <img src="assets/images/logo.jpg">
          </div>
          <div class="border-seperation"></div>
          <li (click)="NavigateTo('home/appointment-cards')"><i class="fa-regular fa-calendar-check" ></i><a >Reports</a></li>
          <li (click)="NavigateTo('home/discount-requests')"><i class="fa fa-tag" ></i><a >Discount Request</a></li>
          <li (click)="NavigateTo('home/purchase-order-approval')"><i class="fa fa-tag" ></i><a >Purchase Order Approval</a></li>
         
          <li (click)="NavigateTo('home/sales-report-summary')"><i class="fa fa-tag" ></i><a >Sales Report Summary</a></li>          
          <li (click)="NavigateTo('home/hospital-collection')"><i class="fa fa-tag" ></i><a >Hospital Collection</a></li>
          <li (click)="NavigateTo('home/op-visit-summary')"><i class="fa fa-tag" ></i><a >OP Visit Summary</a></li>
          <li (click)="NavigateTo('home/op-appointment-stats')"><i class="fa fa-tag" ></i><a >OP Appointment Statics</a></li>
          <!-- <li (click)="NavigateTo('home/overview-rep-sum')"><i class="fa fa-tag" ></i><a >Overview Report Summary</a></li> -->
          <li  (click)="LogOut()"><i class="fa-solid fa-right-from-bracket"></i><a >Logout</a></li>
        </ul>
      </div>
    </nav>
    <!-- Hamburger -->

    <!-- Appointment card -->
<div style="overflow: auto;" class="mb-5">
    <router-outlet></router-outlet>
  </div>

  </div>
  <footer  class="fixed-bottom">
    <div class="f-left">
      <h6>&#169; 2023 <a href="https://www.remedihms.com/" target="_blank">REMEDIHMS.com</a></h6>

    </div>
    <div class="f-right">
      <h6>Powered by<a href="https://tedsystech.com/" target="_blank">Tedsys Technologies</a></h6>
    </div>
  </footer>
</body>
<!-- </div> -->