<div class="profile-name patient-titile">
  <h2>Patient Details</h2>
</div>

<div class="token-det patient-details-body">
  <div class="token-repeat">
    <div class="date-0 d-flex">
      <h6>Token No :</h6>
      <h6>00</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Token Type :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Patient Name :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Gender :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Appointment Date & Time :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 patient-note">
      <h6>Notes :</h6>
      <p class="patient-note-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora reiciendis
        eaque, ullam, dolore doloremque atque accusantium id voluptate repellat iste sed non.</p>
    </div>
  </div>

  <div class="token-repeat">
    <div class="date-strip patient-srip">
    </div>
    <div class="date-0 d-flex">
      <h6>Token No :</h6>
      <h6>00</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Token Type :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Patient Name :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Gender :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Appointment Date & Time :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 patient-note">
      <h6>Notes :</h6>
      <p class="patient-note-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora reiciendis
        eaque, ullam, dolore doloremque atque accusantium id voluptate repellat iste sed non.</p>
    </div>
  </div>

  <div class="token-repeat">
    <div class="date-strip patient-srip">
    </div>
    <div class="date-0 d-flex">
      <h6>Token No :</h6>
      <h6>00</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Token Type :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Patient Name :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Gender :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Appointment Date & Time :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 patient-note">
      <h6>Notes :</h6>
      <p class="patient-note-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora reiciendis
        eaque, ullam, dolore doloremque atque accusantium id voluptate repellat iste sed non.</p>
    </div>
  </div>


</div>