
<div class="branch-name">
  <h4>Hospital</h4>
</div>
<div class="profile-name">
  <div class="profile-img">
    <img src="assets/images/profile.png">
  </div>
  <div class="profile-det">
    <h4>Doctor Name</h4>
    <h5>Department</h5>
    <h5>Spacialisation</h5>
  </div>
</div>
<div class="month-year d-flex">
  <h4>Month / Year</h4>
  <div class="form-group-form">
    <select class="form-control form-select" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</div>
<div class="token-det">

  <div class="token-repeat">
    <div class="date-strip d-flex">
      <h6>18/09/23 ,</h6>
      <h6>Monday</h6>
    </div>
    <div class="date-0 d-flex duty-0">
      <h6>Duty Time :</h6>
      <h6>00</h6>
    </div>
    <div class="token-main d-flex">
      <div class="date-0 d-flex">
        <!-- <h6>Booked Token</h6> -->
        <div class="booked-show">
          <h6>Booked</h6>
          <div class="sepretaion-line"></div>
          <a href="#">36</a>
        </div>
      </div>
      <div class="date-0 d-flex">
        <!-- <h6>Confirmed Token</h6> -->
        <div class="booked-show">
          <h6>Confirmed</h6>
          <div class="sepretaion-line"></div>
          <a href="#">36</a>
        </div>
      </div>
    </div>
  </div>

  <div class="token-repeat">
    <div class="date-strip d-flex">
      <h6>19/09/23 ,</h6>
      <h6>Monday</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Duty :</h6>
      <h6>00</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Booked Token :</h6>
      <h6>0.0.000</h6>
    </div>
    <div class="date-0 d-flex">
      <h6>Confirmed Token :</h6>
      <h6>0.0.000</h6>
    </div>
  </div>

  <div class="token-repeat">
    <div class="date-strip d-flex consolation">
      <h6>NO CONSULTATION</h6>
    </div>
  </div>

</div>